.header{
    margin:30px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

* {
    background-color: #fffcf9;
    
    font-size: large;
}
#main{
	margin-top: 25px;
	/*多余溢出确保底部信息的位置*/
	overflow: hidden;
}

/*商品信息部分*/
#main .item>ul>li{
	float: left;
	width: 30%;
	margin-right: 10px;
}
 
#main .item>ul>li>.content{
    text-align: center;
}
#main .item>ul>li>div>a>img{
	margin:3%;
    max-width: 225px;
    border:3% solid #fff;
	/*添加过渡属性*/
	transition: all 0.3s;
}
#random>div>a>img{
    margin:10px;
    max-width:60%;
    border:10px solid #fff;
}
#random>div>a>img:hover{
    transform: scale(1.1);
}

.btn-container{
    display: flexbox;
    width:500px;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
}
.btn-container-1{
    display: flexbox;
    width:500px;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
}
.btn {
    align-items: center;
    display: inline-block;
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    *display: inline;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
   }

   .btn:hover{
    text-decoration: none;
    background-color: #ccc;
   }
   .btn:focus {
    text-decoration: none;
    background-color: #F5CA75;
   }

   .material_title{
    position: relative;
    text-align: center;

   }
   .get_random{
    cursor:cursor;
    text-align: center;
    text-decoration: underline;
    font: 20px Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 900;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .8em; 
    -moz-border-radius: .8em;
    border-radius: .8em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
   }
   .get_random:hover{
    text-decoration: none;
    background-color: #F5CA75;
   }
   #random {
    display: block;
    text-align: center;

    }
   .get_recipe{
    text-align: center;
   }
   .get_recipe:hover{
    text-decoration: none;
    background-color: #F5CA75;
   }
   .get_recipe:focus{
    background-color: #F5CA75;
   }
   .content>img{
    text-align: center;

   }
   .item{
    display: flexbox;
   }
   .get_title{
    text-align: center;
   }